﻿@model Elias.Models.ParsedPage
@using Elias.BL.Helpers
@{
    var firstImageActive = "active";
    if (Model == null || Model.ImageUrls == null || string.IsNullOrWhiteSpace(Model.SourceUrl))
    {
        <div>Images will be shown after you submit a page.</div>
        return;
    }
    else if (Model.ImageUrls.Count == 0)
    {
        <div>This page has no images on it.</div>
        return;
    }
}
@*Sample from https://bootstrapbay.com/blog/bootstrap-3-carousel-tutorial/*@
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for(int i=0; i<Model.ImageUrls.Count;i++)
        { 
            <li data-target="#myCarousel" data-slide-to="@i" class="@firstImageActive"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        
        @foreach (var imageUrl in Model.ImageUrls)
        {
            var absUrl = imageUrl.BuildPath(Model.SourceUrl);
            <div class="item @firstImageActive">
                <img src="@absUrl" alt="@imageUrl">
            </div>

            if (firstImageActive == "active")
            {
                firstImageActive = "";
            }
        }
    </div>

    <!-- Controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div> <!-- Carousel -->