﻿@model Elias.Models.ParsedPage

@{
    var myCarouselId = "carousel_" + (Guid.NewGuid().ToString());
    if (Model == null || Model.WordStats == null || string.IsNullOrWhiteSpace(Model.SourceUrl))
    {
        <div>Wordcounts will be shown after you submit a page.</div>
        return;
    }
    else if(Model.WordStats.Count==0)
    {
        <div>This page has no words on it.</div>
        return;
    }
}



<table>
    <tr><th>Word</th><th>Count</th></tr>
    @foreach (var wordStat in Model.WordStats)
    {
        <tr>
            <td>@Html.Raw(wordStat.Word.Replace("<", "&lt;").Replace(">", "&gt;"))</td>
            <td>@wordStat.Count</td>
        </tr>
    }
</table>