﻿@model Elias.Models.ParsedPage

@{
    var myCarouselId = "carousel_" + (Guid.NewGuid().ToString());
    if (Model == null || Model.WordStats == null || string.IsNullOrWhiteSpace(Model.SourceUrl))
    {
        return;
    }
    else if (Model.WordStats.Count == 0)
    {
        return;
    }
}
<script type="text/javascript">
    @{ var wordleArrayList = String.Join(",",
           Model.WordStats.Select(wordStat =>
            String.Format("{{text: \"{0}\", weight: {1}}}\n\t",
                wordStat.Word.Replace("\"", "'"),
                wordStat.Count))
           );
    }
    var word_list = new Array(
        @Html.Raw(wordleArrayList)
    );
    $(document).ready(function () {
        $("#wordcloud").jQCloud(word_list);
    });
</script>

<style type="text/css">
    #wordcloud {
        margin: 30px auto;
        width: 600px;
        height: 371px;
        border: none;
    }

        #wordcloud span.w10, #wordcloud span.w9, #wordcloud span.w8, #wordcloud span.w7 {
            text-shadow: 0px 1px 1px #ccc;
        }

        #wordcloud span.w3, #wordcloud span.w2, #wordcloud span.w1 {
            text-shadow: 0px 1px 1px #fff;
        }
</style>

<h2>Wordle of words on page</h2>
<div id="wordcloud"></div>