﻿@model Elias.Models.ParsedPage

<div class="jumbotron">
    <form method="GET" action="#result">
        <h1 style="padding: 0; margin: 0;">Html Wizard</h1>
        <p class="lead"><a name="result"></a>
            Enter a url and get information about it.<br/>
            <input type="text" id="url"
                   style="font-size: 12px;width:50em"
                   title="Enter url" name="url"
                   placeholder="URL"
                   value="@Model.SourceUrl"/>
            @if (string.IsNullOrWhiteSpace(Model.SourceUrl) && @Request.Url != null && !@Request.Url.AbsoluteUri.Contains("?"))
            {
                <span class="small help-block">click here for a <a href="?url=@(Request.Url.AbsoluteUri)SamplePage.html#result">sample</a></span>
            }
            else
            {
                <span class="small"><a href="@Model.SourceUrl" target="_blank">Visit page</a></span>
            }
        </p>
        <p>
            <button class="btn btn-primary btn-default">Go &raquo;</button>
            @Model.Status
            @if (string.IsNullOrWhiteSpace(Model.Status))
            {
                <span class="small">Here is the <a href="api/Parse?id=@Model.SourceUrl" target="_blank">Api endpoint</a> for parsing url</span>
            }
        </p>
    </form>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Images</h2>
        @{ Html.RenderPartial("_Carousel_bootstrap", Model); }
    </div>
    <div class="col-md-4">
        <h2>Top 10 words on page</h2>
        @{ Html.RenderPartial("_wordCounts_table", Model); }
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
<div class="row">
    @{Html.RenderPartial("_wordCounts_wordle", Model);}
</div>