﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/carousel.css" rel="stylesheet"/>
    <link href="~/Content/jqCloud.css" rel="stylesheet"/>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Not &copy; @DateTime.Now.Year - Html Wizard</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/js/application.js"></script>
    <script src="~/Scripts/jqCloud.min.js"></script>
</body>
</html>
