﻿div#wordcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #09f;
  overflow: hidden;
  position: relative;
}
div#wordcloud a {
  color: inherit;
  text-decoration: none;
}
div#wordcloud a:hover {
  color: #0df;
}
div#wordcloud a:hover {
  color: #0cf;
}
div#wordcloud span {
  padding: 0;
}
div#wordcloud span.w10 {
  font-size: 54px;
  color: #0cf;
}
div#wordcloud span.w9 {
  font-size: 50px;
  color: #0cf;
}
div#wordcloud span.w8 {
  font-size: 44px;
  color: #0cf;
}
div#wordcloud span.w7 {
  font-size: 40px;
  color: #39d;
}
div#wordcloud span.w6 {
  font-size: 34px;
  color: #90c5f0;
}
div#wordcloud span.w5 {
  font-size: 30px;
  color: #90a0dd;
}
div#wordcloud span.w4 {
  font-size: 24px;
  color: #90c5f0;
}
div#wordcloud span.w3 {
  font-size: 20px;
  color: #a0ddff;
}
div#wordcloud span.w2 {
  font-size: 14px;
  color: #99ccee;
}
div#wordcloud span.w1 {
  font-size: 10px;
  color: #aab5f0;
}